@import "tailwindcss";


::-webkit-scrollbar {
    height: auto;
    width: .8rem;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: .5rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #585757;
    border-radius: .5rem;
    cursor: pointer;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #908f8f;
}


/* .divres {
    & li {
        padding-left: 3rem;
    }
} */

